/* configurações globais */
@import "./global/global.css";

/* configurações tipografia */
@import "./utilidades/tipografia.css";
/* configurações cores */
@import "./utilidades/cores.css";
/* configurações header */
@import "./global/header.css";
/* configurações footer */
@import "./global/footer.css";

/* configurações componentes */
@import "./utilidades/componentes.css";

/* configurações introdução */
@import "./home/introducao.css";
/* configurações tecnologias */
@import "./home/tecnologia.css";
/* configurações parceiros */
@import "./home/parceiros.css";
/* configurações depoimento */
@import "./home/depoimento.css";

/* configurações bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/*  bicicleta  */
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/* configurações seguros */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/* configurações termos */
@import "./termos/termos.css";
