* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #111111;
}
a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
